.footer {
    width: 100%;
    
}
.row {
    
    height: 200px;
    
    
}
.col-md-4 {
    
    
    height: 200px;
}
.list-group-item {
    color: white;
}
.anclas {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    font-size: large;
}

.logo{
    filter: (drop-shadow(0 0 0.75rem crimson););
}